.btn-round {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    font-size: 11px;
    cursor: pointer;
}

.product-edit {
    background-color: rgb(24, 145, 216);
    color: #fff;
}

.product-delete {
    background-color: tomato;
    color: #fff;
}